{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="card-register">
        <h1>Inscription</h1>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm,{'attr': {'class': 'form-register'}}) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-register">S'inscrire</button>
            <p>Vous avez déjà un compte ? <a href="/login" class="link-seco">Se connecter</a></p>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
