{% extends 'base.html.twig' %}

{% block title %}Météo{% endblock %}


{% block body %}
    <h1>Weather in {{ city }}</h1>
    <p>The current temperature is {{ temperature }}°C.</p>

    <h2>Temperature and Wind Speed Chart</h2>
    <div class="chart-container">
    <canvas id="weatherChart" width="800" height="500"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('weatherChart').getContext('2d');
        let delayed=false;
        const weatherChart = new Chart(ctx, {
            type: 'bar', // Default type
            data: {
                labels: {{ chartData.labels|json_encode|raw }},
                datasets: [{
                    type: 'line', // Override the default type for this dataset
                    label: 'Température',
                    data: {{ chartData.temperature|json_encode|raw }},
                    borderColor: 'red',
                    fill: false,
                    yAxisID: 'temp',
                }, {
                    label: 'Vitesse du vent',
                    data: {{ chartData.windSpeed|json_encode|raw }},
                    borderColor: 'blue',
                    yAxisID: 'wind',
                }]
            },
            options: {
                animation: {
                    onComplete: () => {
                        delayed = true;
                    },
                    delay: (context) => {
                        let delay = 0;
                        if (context.type === 'data' && context.mode === 'default' && !delayed) {
                            delay = context.dataIndex * 300 + context.datasetIndex * 100;
                        }
                        return delay;
                    },
                },
                scales: {
                    temp: {
                        type: 'linear',
                        position: 'left',
                    },
                    wind: {
                        type: 'linear',
                        position: 'right',
                        grid: {
                            drawOnChartArea: false,
                        },
                    }
                }
            }
        });
        weatherChart.resize();

    </script>
    <h2>5 Day / 3 Hour Forecast</h2>
    {% for forecast in forecast %}
        <div>
            <h3>{{ forecast.dt_txt }}</h3>
            <p>Temperature: {{ forecast.main.temp }}°C</p>
            <p>Weather: {{ forecast.weather[0].description }}</p>
        </div>
    {% endfor %}
{% endblock %}