{% extends 'base.html.twig' %}

{% block title %}Météo{% endblock %}

{% block body %}
    <div class="pre-info-btn">
        <form class="form-search" method="post" action="{{ path('weather_home') }}">
    <div class="search-container">
        <i class="fa fa-search search-icon"></i>
        <input type="text" id="city" name="city" value="{{ selectedCity }}"placeholder="Rechercher" required>
        <button class="search" type="submit"><i class="fa fa-arrow-right"></i></button>
    </div>
</form>

        {% if app.user %}
            {% if selectedCity in favoriteCities %}
                <form method="post" action="{{ path('weather_home') }}">
                    <input type="hidden" name="city" value="{{ selectedCity }}">
                    <input type="hidden" name="favorite_action" value="remove">
                    <button type="submit" class="btn-favorite btn-favorite-R">Retirer des favoris ♡</button>
                </form>
            {% else %}
                <form method="post" action="{{ path('weather_home') }}">
                    <input type="hidden" name="city" value="{{ selectedCity }}">
                    <input type="hidden" name="favorite_action" value="add">
                    <button type="submit" class="btn-favorite btn-favorite-A">Ajouter aux favoris ♥</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    {% if error %}
        <div class="error" id="error-message">{{ error|raw }}</div>
    {% endif %}

    <div id="weather-info">
        {% if weatherData[selectedCity] is defined %}

            <div class="toptier">
                <div class="chart-container">
                    <canvas id="weatherChart" width="800" height="500"></canvas>
                </div>

            <div class="weather-card">
            <h3>{{ selectedCity|capitalize }}</h3>
                <div style="display: flex; flex-direction: column;">
                    <div style="display: flex; flex-direction: row"><div style="font-size: 50px; margin: 0">{{ weatherData[selectedCity].temperature }}</div><div style="position: relative; top:10px"> °C</div></div>
                    {% if weatherData[selectedCity].description is defined %}
                        <p style="margin-bottom: 5px">{{ weatherData[selectedCity].description |capitalize }}</p>
                    {% endif %}
                    {% if weatherData[selectedCity].temp_max is defined %}
                        {% if weatherData[selectedCity].temp_min is defined %}

                            <div style="display: flex; margin: 5px 0; gap: 5px">
                            {{ weatherData[selectedCity].temp_max }}°
                            <img style=" width: 20px; height: 20px" src="{{ asset('images/icons/arrow.png') }}" alt="High temperature icon">
                            {{ weatherData[selectedCity].temp_min }}°

                        </div>
                        {% endif %}
                    {% endif %}
                </div>

            {% if weatherData[selectedCity].humidity is defined and weatherData[selectedCity].pressure is defined %}
    <div style="display: flex; align-items: center;">
        <p style="margin-right: 10px; border-right: 1px solid #000; padding-right: 10px;">Hum : {{ weatherData[selectedCity].humidity }}%</p>
        <p>Press atmo : {{ weatherData[selectedCity].pressure }} hPa</p>
    </div>
{% endif %}
            {% if weatherData[selectedCity].wind_speed is defined %}
    <div style="display: flex; margin: 10px 0; gap: 10px"><img style=" width: 20px; height: 20px" src="{{ asset('images/icons/wind.png') }}" alt="wind icon">
        {{ weatherData[selectedCity].wind_speed }} m/s
        <img id="wind-direction" style=" width: 18px; height: 20px" src="{{ asset('images/icons/wind-direction.png') }}" alt="High temperature icon">
        {% if weatherData[selectedCity].wind_direction is defined %}
            <div id="wind-direction-letter"></div>
            <script>
                function degreesToCardinalDirection(degrees) {
                    var cardinalDirections = ['Nord', 'Nord Est', 'Est', 'Sud Est', 'Sud', 'Sud Ouest', 'Ouest', 'Nord Ouest'];
                    var index = Math.round(((degrees % 360) / 45)) % 8;
                    return cardinalDirections[index];
                }
                var windDirection = {{ weatherData[selectedCity].wind_direction }};
                var windDirectionLetter = degreesToCardinalDirection({{ weatherData[selectedCity].wind_direction }});
                document.getElementById('wind-direction-letter').innerText = windDirectionLetter;
            </script>
        {% endif %}
    </div>
        {% endif %}
        {% if weatherData[selectedCity].wind_direction is defined %}
            <script>
                var windDirection = {{ weatherData[selectedCity].wind_direction }};
                document.getElementById('wind-direction').style.transform = 'rotate(' + {{ weatherData[selectedCity].wind_direction }} + 'deg)';


            </script>
        {% endif %}


            {% if weatherData[selectedCity].icon is defined %}
                <img class="icon-tab-previ5d icon-tab-previ5d-NoSearch" src="{{ asset('iconsnew/' ~ weatherData[selectedCity].icon ~ '.png') }}" alt="Weather icon">
            {% endif %}
            </div>
            
            </div>

            {% if app.user %}
                <h3 class="other-city">Prévisions de la semaine</h3>

                <div id="column-selectors" class="filtres-tab">
                    <label><input type="checkbox" class="column-checkbox" data-column="temp_min" {% if 'temp_min' in columnPreferences %}checked{% endif %}> Temp. Min</label>
                    <label><input type="checkbox" class="column-checkbox" data-column="temp_max" {% if 'temp_max' in columnPreferences %}checked{% endif %}> Temp. Max</label>
                    <label><input type="checkbox" class="column-checkbox" data-column="wind_speed" {% if 'wind_speed' in columnPreferences %}checked{% endif %}> Vitesse du vent</label>
                    <label><input type="checkbox" class="column-checkbox" data-column="humidity" {% if 'humidity' in columnPreferences %}checked{% endif %}> Humidité</label>
                    <label><input type="checkbox" class="column-checkbox" data-column="pressure" {% if 'pressure' in columnPreferences %}checked{% endif %}> Pression</label>
                </div>

                <table class="table" id="forecast-table">
                    <thead>
                        <tr>
                            <th scope="col">Jour</th>
                            <th scope="col">Icon</th>
                            <th scope="col">Temp. Min</th>
                            <th scope="col">Temp. Max</th>
                            <th scope="col">Vitesse du vent</th>
                            <th scope="col">Humidité</th>
                            <th scope="col">Pression</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day, data in forecastDataGrouped %}
                        {# datas de base : Temp min et Temps max si pas de préférence #}
                            <tr>
                                <td>{{ day }}</td>
                                <td><img class="icon-tab-previ5d" src="{{ asset('iconsnew/' ~ data.icon ~ '.png') }}" alt="Weather icon"></td>
                                <td>{{ data.temp_min }} °C</td>
                                <td>{{ data.temp_max }} °C</td>
                                <td>{{ data.wind_speed }} m/s</td>
                                <td>{{ data.humidity }} %</td>
                                <td>{{ data.pressure }} hPa</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Connectez-vous pour pouvoir accéder aux prévisions des prochains jours.</p>
            {% endif %}



        {% else %}


            {% if app.user %}
                <h3 class="other-city">Villes favorites</h3>
                <div class="favorite-cities">
                    {% for city in favoriteCities %}
                        {% if weatherData[city] is defined %}
                            <a href="{{ path('weather_home', {'city': city}) }}"  class="weather-fav-card-a">
                                <div class="weather-card">
                                    <h3>{{ city|capitalize }}</h3>
                                    <div style="display: flex; flex-direction: column;">
                                        <div style="display: flex; flex-direction: row"><div style="font-size: 50px; margin: 0">{{ weatherData[city].temperature }}</div><div style="position: relative; top:10px"> °C</div></div>
                                        {% if weatherData[city].description is defined %}
                                            <p style="margin-bottom: 5px">{{ weatherData[city].description |capitalize }}</p>
                                        {% endif %}
                                        {% if weatherData[city].temp_max is defined %}
                                            {% if weatherData[city].temp_min is defined %}

                                                <div style="display: flex; margin: 5px 0; gap: 5px">
                                                    {{ weatherData[city].temp_max }}°
                                                    <img style=" width: 20px; height: 20px" src="{{ asset('images/icons/arrow.png') }}" alt="High temperature icon">
                                                    {{ weatherData[city].temp_min }}°

                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% if weatherData[city].icon is defined %}
                                        <img class="icon-tab-previ5d icon-tab-previ5d-NoSearch" src="{{ asset('iconsnew/' ~ weatherData[city].icon ~ '.png') }}" alt="Weather icon">
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if app.user %}
                <h3 class="other-city">D'autres villes du monde</h3>
            {% else %}
                <h3 class="other-city">Météo villes du monde</h3>
            {% endif %}
            <div class="default-cities">
                {% for city, data in weatherData %}
                    {% if city not in favoriteCities %}
                        <a href="{{ path('weather_home', {'city': city}) }}"  class="weather-other-card-a">
                            <div class="weather-card">
                                <h3>{{ city|capitalize }}</h3>
                                <div style="display: flex; flex-direction: column;">
                                    <div style="display: flex; flex-direction: row"><div style="font-size: 50px; margin: 0">{{ data.temperature }}</div><div style="position: relative; top:10px"> °C</div></div>
                                    {% if data.description is defined %}
                                        <p style="margin-bottom: 5px">{{ data.description |capitalize }}</p>
                                    {% endif %}
                                    {% if data.temp_max is defined %}
                                        {% if data.temp_min is defined %}

                                            <div style="display: flex; margin: 5px 0; gap: 5px">
                                                {{ data.temp_max }}°
                                                <img style=" width: 20px; height: 20px" src="{{ asset('images/icons/arrow.png') }}" alt="High temperature icon">
                                                {{ data.temp_min }}°

                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>

                                {% if data.icon is defined %}
                                    <img class="icon-tab-previ5d icon-tab-previ5d-NoSearch" src="{{ asset('iconsnew/' ~ data.icon ~ '.png') }}" alt="Weather icon">
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const checkboxes = document.querySelectorAll('#column-selectors input[type="checkbox"]');
            const maxColumns = 2;  // Limite maximale de colonnes visibles
            const defaultColumns = ['temp_min', 'temp_max'];
            let columnPreferences = {{ columnPreferences|json_encode|raw }};

            // Si aucune préférence n'est définie, utilise les colonnes par défaut
            if (columnPreferences.length === 0) {
                columnPreferences = defaultColumns;
            }

            // Fonction pour appliquer la visibilité des colonnes
            function toggleColumnVisibility(columnName, isVisible) {
                const columnIndex = Array.from(checkboxes).findIndex(checkbox => checkbox.dataset.column === columnName) + 3;
                const table = document.getElementById('forecast-table');
                const cells = table.querySelectorAll(`th:nth-child(${columnIndex}), td:nth-child(${columnIndex})`);
                cells.forEach(cell => {
                    cell.style.display = isVisible ? '' : 'none';
                });
            }

            // Fonction pour mettre à jour l'état des cases à cocher
            function updateCheckboxStates() {
                const checkedCount = document.querySelectorAll('#column-selectors input[type="checkbox"]:checked').length;
                checkboxes.forEach(checkbox => {
                    if (!checkbox.checked) {
                        checkbox.disabled = checkedCount >= maxColumns;
                    } else {
                        checkbox.disabled = false;
                    }
                });
            }

            // Fonction pour sauvegarder les préférences des colonnes
            function saveColumnPreferences() {
                const preferences = [];
                checkboxes.forEach(function(checkbox) {
                    if (checkbox.checked) {
                        preferences.push(checkbox.dataset.column);
                    }
                });

                fetch('{{ path("save_column_preferences") }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRF-TOKEN': '{{ csrf_token("save_column_preferences") }}'
                    },
                    body: JSON.stringify({ preferences: preferences })
                });
            }

            // Applique la visibilité initiale basée sur les préférences ou les colonnes par défaut
            checkboxes.forEach(checkbox => {
                const column = checkbox.dataset.column;
                const isChecked = columnPreferences.includes(column);
                checkbox.checked = isChecked;
                toggleColumnVisibility(column, isChecked);
            });

            updateCheckboxStates();

            // Écoute les changements des cases à cocher
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    const checkedCount = document.querySelectorAll('#column-selectors input[type="checkbox"]:checked').length;
                    if (checkedCount > maxColumns) {
                        alert('Vous ne pouvez afficher que deux colonnes à la fois. Veuillez décocher une autre colonne avant de sélectionner celle-ci.');
                        checkbox.checked = false;
                    } else {
                        toggleColumnVisibility(this.dataset.column, this.checked);
                        saveColumnPreferences();
                    }
                    updateCheckboxStates();
                });
            });
        });
    </script>





    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('weatherChart').getContext('2d');
        let delayed = false;
        const weatherChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ chartData.labels|json_encode|raw }},
                datasets: [{
                    type: 'line',
                    label: 'Température',
                    borderRadius: 6,
                    cubicInterpolationMode: 'monotone',
                    borderSkipped: false,
                    data: {{ chartData.temperature|json_encode|raw }},
                    borderColor: 'coral',
                    fill: false,
                    yAxisID: 'temp',
                }, {
                    label: 'Vitesse du vent',
                    borderRadius: 10,
                    borderColor: 'white',
                    backgroundColor: 'rgba(255, 255, 255, 0.3)',
                    data: {{ chartData.windSpeed|json_encode|raw }},
                    yAxisID: 'wind',
                }]
            },
            options: {

                animation: {
                    onComplete: () => {
                        delayed = true;
                    },
                    delay: (context) => {
                        let delay = 0;
                        if (context.type === 'data' && context.mode === 'default' && !delayed) {
                            delay = context.dataIndex * 300 + context.datasetIndex * 100;
                        }
                        return delay;
                    },
                },

                scales: {
                    x: {
                        ticks: {
                            color: 'white',
                            font: {
                                size: 16
                            }
                        }
                    },
                    temp: {
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            color: 'white',
                            font: {
                                size: 16
                            }
                        }
                    },
                    wind: {
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            color: 'white',
                            font: {
                                size: 16
                            }
                        },

                        grid: {
                            drawOnChartArea: false,
                        },
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            color: 'white',
                            font: {
                                size: 24
                            }

                        }
                    },
                }
            }
        });
        weatherChart.resize();
    </script>
{% endblock %}
